.card {
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
  margin-bottom: 30px;
  border: 1px solid #ededed;
}
.card-title {
  color: #1f1f1f;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.profile-view {
  position: relative;
}
.profile-info-left{
  border-right: 2px dashed #ccc;
}
.user-name{
  font-size: 1.5rem;
}
.user-name + h6{
  font-size: 0.75rem;
}

.profile-view .profile-img-wrap {
  height: 120px;
  width: 120px;
}
.profile-img-wrap {
  height: 120px;
  position: absolute;
  width: 120px;
  background: #fff;
  overflow: hidden;
}
.profile-view .profile-basic {
  margin-left: 140px;
  padding-right: 50px;
}
.profile-view .profile-img {
  width: 120px;
  height: 120px;
}
.profile-img {
  height: 80px;
  margin: 0 auto;
  position: relative;
  width: 80px;
}
.personal-info {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1em;
}
.personal-info li {
  margin-bottom: 10px;
}
.personal-info li .title {
  color: #4f4f4f;
  float: left;
  font-weight: 500;
  margin-right: 30px;
  width: 25%;
}
.personal-info li .text {
  color: #8e8e8e;
  display: block;
  overflow: hidden;
}
.profile-img img {
  vertical-align: middle;
  border-radius: 50%;
  overflow: hidden;
  border-style: none;
  width: 100%;
  height: 100%;
}
.staff-id {
  font-size: 15px;
  font-weight: 500;
}
.profile-view .pro-edit {
  position: absolute;
  right: 0;
  top: 0;
}
.profile-box .personal-info .title{
  width: 50%;
}
.edit-icon {
  background-color: #eee;
  border: 1px solid #e3e3e3;
  border-radius: 24px;
  color: #bbb;
  float: right;
  font-size: 12px;
  line-height: 24px;
  min-height: 26px;
  text-align: center;
  width: 26px;
}
.edit-icon:hover {
  color: white;
  background-color: #5e72e4;
  border-color: #5e72e4;
}
input,
button,
a {
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
@media (min-width: 768px) and (max-width: 848px) {
 .profile-view .profile-basic {
   margin-left: 10px;
 }
 .profile-info-left{
   padding-left: 140px;
 }
}
@media only screen and (max-width: 575.98px) {
  .profile-img-wrap {
    position: relative;
    margin: 0 auto;
  }

  .profile-view .profile-basic {
    margin-left: 0;
    padding-right: 0;
  }

  .profile-basic {
    margin-left: 0;
    margin-top: 15px;
  }

  .profile-info-left {
    text-align: center;
  }
}
@media only screen and (max-width: 767.98px) {
  .user-name {
    font-size: 22px;
  }
  .profile-info-left h6 {
    font-size: 12px;
  }
  .card-title,
  .dash-stats-list h4,
  .custom-modal .modal-title,
  .file-wrap .file-cont-wrap .file-cont-inner .file-cont-header > span,
  .faq-card .card .card-header h4 > a,
  .lead {
    font-size: 18px;
  }
}



@media only screen and (max-width: 1200px) {
  .profile-info-left {
    border-right: none;
    border-bottom: 2px dashed #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
